body {
  /* Background image and general styles for the body */
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  /* Styles for level 1 headings (h1) */
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  /* Styles for level 2 headings (h2) */
  font-size: 30px;
}

.established {
  /* Italic styling for elements with class 'established' */
  font-style: italic;
}

h1, h2, p {
  /* Center-align text for headings and paragraphs */
  text-align: center;
}

.menu {
  /* Styles for the menu container */
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

img {
  /* Center-align images within their container */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  /* Styling for horizontal lines */
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  /* Margin for separation, specific to the bottom line */
  margin-top: 25px;
}

h1, h2 {
  /* Font family for level 1 and level 2 headings */
  font-family: Impact, serif;
}

.item p {
  /* Styling for paragraphs within items */
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor, .dessert {
  /* Styles for elements with class 'flavor' and 'dessert' */
  text-align: left;
  width: 75%;
}

.price {
  /* Styles for elements with class 'price' */
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  /* Styling for the footer */
  font-size: 14px;
}

.address {
  /* Margin for the address element within the footer */
  margin-bottom: 5px;
}

a {
  /* Styling for anchor (link) elements */
  color: black;
}

a:visited {
  /* Styling for visited links */
  color: black;
}

a:hover {
  /* Styling for links on hover */
  color: brown;
}

a:active {
  /* Styling for active links */
  color: brown;
}
